*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.bola{
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 257px;
   
}
ul{
    display: flex;
    justify-content: space-evenly;
}
.navara{
    color: black;
  margin-right: 65px;  
}

.koropka{
position: absolute;
width: 558px;
height: 452px;
left: 63px;
top: 448px; 
background-color: hsl(0, 100%, 50%);   
text-align: center;
color: white;
}
.h1{
text-align: center;
margin-top: 128px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
}
.box{
    background-color: red;
    width: 558px;
    height: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 138px;
    text-align: center;
    
}
h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0%;
text-align: left;
}